.container {
    display: flex;
    flex-direction: row;
}

.users {
    border: 1px solid black;
    height: 50vh;
    padding: 5%;
    margin-right: 5%;
}

h2 {
    top: 0;
}

#board {
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    display: none;
}

.board-row {
    display: block;
    float: left;
}

.board-cell {
    border: 1px solid black;
    display: block;
    width: 5vw;
    padding: 25% 0;
}

#bingo-button {
    display: none;
    margin: 0 auto;
    padding: 10%;
    font-size: 2em;
}

#ball-list {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    height: 100%;
    width: 40%;
}

.ball {
    border-radius: 50%;
    border: 1px solid black;
    height: 5vw;
    width: 5vw;
    text-align: center;
    line-height: 4.5;
    margin: 1%;
}